<h6 class="text-uppercase d-inline-block mb-5 me-1">
  How It Works
</h6>

<div class="list-group list-group-flush">
    <p class="fs-sm">
      You should receive an email from accounts@resumenalyzer.com
    </p>
    <p class="fs-sm">
      If you havenot received the email from us yet, please check your spam folder
    </p>
    <p class="fs-sm">
      If you have any issue receiving the intended email from us, please
      donot hesitate to reach out to the Customer Support Team at 
      support@resumenalyzer.com
    </p>
</div>
