

<h6 class="text-uppercase d-inline-block mb-5 me-1">
  How It Works
</h6>

<div>
  <div class="list-group list-group-flush">
      <p class="fs-sm">
        The system expects you to input the same email address 
        that you have used to create the account
      </p>
      <p class="fs-sm">
        If you donot receive an email from accounts@resumenalyzer.com within
        few minutes, please check your spam folder
      </p>
      <p class="fs-sm">
        If you have any issue receiving the intended email from us, please
        donot hesitate to reach out to the Customer Support Team at 
        support@resumenalyzer.com
      </p>
  </div>
</div>

