{% extends 'prof_candidate/layout/primary_layout.html' %}
{% load static %}


{% block header %}
  {% include 'prof_candidate/components/headers/latest-order-feat.html' %}
{% endblock %}


{% block sidebar_content %}
  <div class="mb-6">
    {% include 'prof_candidate/components/menu/home-link.html' %}
  </div>
  <div class="mb-6">
  	{% include 'prof_candidate/components/menu/disputes.html' %}
  </div>
  <div class="mb-6">  
    {% include 'prof_candidate/components/menu/orders.html' %}
  </div>
{% endblock %}


{% block body_content_section %}
      {% include 'prof_candidate/pg-contents/my_orders/order-feedback-form.html' %}
{% endblock %}
