{% extends 'prof_candidate/layout/primary_layout.html' %}
{% load static %}


{% block header %}
  {% include 'prof_candidate/components/headers/latest-order-feat.html' %}
{% endblock %}


{% block sidebar_content %}
  <div class="mb-6">
    {% include 'prof_candidate/components/menu/home-link.html' %}
  </div>
  <div class="mb-6">
    {% include 'prof_candidate/components/menu/orders.html' %}
  </div>
  <div class="mb-6">
    {% include 'prof_candidate/components/item-count.html' %}
  </div>  
{% endblock %}


{% block body_content_header %}
  {{section_header_1}}
{% endblock %}


{% block body_content_section %}

      {% if object_list %}
        {% for object in object_list %}
          <div class="mb-6">
            {% include 'prof_candidate/pg-contents/my_orders/order_object.html' %}
          </div>
        {% endfor %}
      {% else %}
        You have no orders yet
      {% endif %}

{% endblock %}


{% comment "Optional note" %}
{% endcomment %}
