<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tr>
    <td class="bg_white">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td class="bg_white email-section">
            <div class="heading-section" style="text-align: left; padding: 25px 5px 0px 5px;">
                
                <p>
			             Our system detects that you have contacted with 
                   our Customer Service department. Weather we are 
                   able to fulfill your request or enquery, we will 
                   definitely get back to you within 96 hours from the time 
                   we received your message.
                </p>

            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tr>
    <td class="bg_white">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td class="bg_white email-section">
          	<div class="heading-section" style="text-align: left; padding: 25px 5px 0px 5px;">
              	
              	<h3 class="heading">Your submission details</h3>
              	<p style="">Submission ID # {{submission_id}}</p>
                <p style="">Submission time {{submission_time}} EST</p>
              	<p style="">Your message</p>
              	<p style="">{{your_msg}}</p>

          	</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
