<div class="card card-bleed border-bottom border-bottom-md-0">
  <div class="collapse d-md-block" id="sidenavCollapse">
    <div class="card-body">
      <h6 class="fw-bold text-uppercase mb-3">
        Order Confirmation Email
      </h6>
      <ul class="card-list list text-reset">
        <li class="fs-sm list-item">
              We sent order confirmation email to the following email address(s)
          <ul>
            <li class="fs-sm list-item">
                  {{mcart_instance.mcompleted_purchase.email_address}}
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>
