<p style="line-height: 140%;"><span data-metadata="&lt;!--(figmeta)eyJmaWxlS2V5IjoiWUswYUxXejkwdm5ST2ZlclZiTDl4RiIsInBhc3RlSUQiOjE3NTA2ODE1MzksImRhdGFUeXBlIjoic2NlbmUifQo=(/figmeta)--&gt;" style="line-height: 19.6px;"></span><span style="line-height: 19.6px;">Hello Guest</span></p>
<p style="line-height: 140%;"> </p>
<p style="line-height: 140%;"><span style="line-height: 19.6px;">Thank you for contacting with our customer service department.</span></p>

<p style="line-height: 140%;"> </p>
<p style="line-height: 140%;"><span style="line-height: 19.6px;">
			       Our system detects that you have contacted with 
                   our Customer Service department. Weather we are 
                   able to fulfill your request or enquery, we will 
                   definitely get back to you within 96 hours from the time 
                   we received your message.
</span>
</p>
