{% if mmh_render_for_this_view_only %}
	<div class="d-flex">
	  	{% if products_list %}
	  	<div class="py-3">
			<p class="h6 small text-muted">
			  CONFIDENTIAL: This email and any files transmitted with it are confidential and intended solely for the individual use. 
			  Please notify the sender immediately by email if you have received this email by mistake and delete this email from your system. 
			  If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance 
			  on the contents of this information is strictly prohibited. 
			  We urge you to go through the Policies to understand your use of our email.
			</p>
	  	</div>
	  	{% endif %}
	</div>
{% else %}
	<h1>Resume upload section not found</h1>
{% endif %}
