{% extends 'base_v3.html' %}


{% block meta %}
  <title>Home | Resumenalyzer</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
{% endblock %}


{% block content %}



  {% include 'resumeweb/components/submit-conf-general.html' %}







  <!-- PRODUCT HIGHLIGHT SECTION -->


  {% include 'resumeweb/pg-contents/site_homepg/products/exp180.html' %}


  {% include 'resumeweb/pg-contents/site_homepg/products/referral.html' %}


  {% include 'resumeweb/pg-contents/site_homepg/products/dialogue.html' %}    


  {% include 'resumeweb/pg-contents/site_homepg/products/staircase.html' %}


  {% include 'resumeweb/pg-contents/site_homepg/products/bd.html' %}


  {% include 'resumeweb/pg-contents/site_homepg/products/dialect.html' %}


  {% include 'resumeweb/pg-contents/site_homepg/products/strategy.html' %}


  {% include 'resumeweb/pg-contents/site_homepg/products/id.html' %}


  {% include 'resumeweb/pg-contents/site_homepg/products/adhoc.html' %}    




{% endblock %}
