{% if product_line == 'prei20' %}
  {% include 'general/components/pgheaders/exp180.html' %}
{% endif %}


{% if product_line == 'adhoc' %}
  {% include 'resumeweb/components/pgheaders/pg-header-common.html' %}
{% endif %}


{% if product_line == 'posti20' %}
  {% include 'resumeweb/components/pgheaders/dialogue.html' %}
{% endif %}


{% if product_line == 'referral' %}
  {% include 'resumeweb/components/pgheaders/pg-header-common.html' %}
{% endif %}


{% if product_line == 'dialect' %}
  {% include 'resumeweb/components/pgheaders/dialect.html' %}
{% endif %}


{% if product_line == 'identity' %}
  {% include 'resumeweb/components/pgheaders/identity.html' %}
{% endif %}


{% if product_line == 'univcom' %}
  {% include 'resumeweb/components/pgheaders/staircase.html' %}
{% endif %}


{% if product_line == 'bandwidth' %}
  {% include 'resumeweb/components/0-bandwidth/prod-details.html' %}
{% endif %}


{% if product_line == 'strategy' %}
  {% include 'resumeweb/components/0-strategy/prod-details.html' %}
{% endif %}
