<div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="collapse d-md-block" id="sidenavCollapse">
    <div class="card-body">
      <p class="fs-sm fw-bolder">
        Your Rights
      </p>
      <p class="fs-sm">  
        Before you deactivate your account, we highly encourage you 
        to know your rights to retrieve your information from our system from.
        Please visit the User account section in Terms & Conditions
      </p>
      <ul class="card-list list text-reset">
        <li class="list-item">
          <a href="{% url 'mydocumentations:terms_of_use' %}" class="text-decoration-none fs-sm">
            Learn More
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
