<div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="collapse d-md-block" id="sidenavCollapse">
    <div class="card-body">
      <p class="fs-sm fw-bolder">
        How it works
      </p>
      <p class="fs-sm">  
        Before you deactivate your account, we highly encourage you 
        to know your rights to retrieve your information from our system from.
        Please visit the User account section in Terms & Conditions
      </p>
      <ul class="card-list list">
        <li class="fs-sm list-item">
            Email: Email for this account
        </li>
        <li class="fs-sm list-item">
            Confirmation: Type the  word 'confirm'
        </li>  
        <li class="fs-sm list-item">
            Status Check: Check mark deactivate status
        </li>
      </ul>

    </div>
  </div>
</div>
