<div class="card">
  <div class="card-body">

    <h5>
      Terms and Conditions
    </h5>
    <p class="fs-sm mb-1">
      <a href="{% url 'mydocumentations:terms_of_use' %}">Learn More</a>
    </p>
    <hr>



    <h5>
      Cookie Policy
    </h5>
    <p class="fs-sm mb-1">
      <a href="{% url 'mydocumentations:cookie_policy' %}">Learn More</a>
    </p>
    <hr>


    <h5>
      Donot Sell My Information (California Rights)
    </h5>
    <p class="fs-sm mb-1">
      <a href="{% url 'mydocumentations:dont_sell_info' %}">Learn More</a>
    </p>
    <hr>


    <h5>
      Privacy Policy
    </h5>
    <p class="fs-sm mb-1">
      <a href="{% url 'mydocumentations:privacy_policy' %}">Learn More</a>
    </p>
    <hr>


    <h5>
      Cancellation & Refund Policy
    </h5>
    <p class="fs-sm mb-1">
      <a href="{% url 'cancel_policy' %}">Learn More</a>
    </p>
    <hr>


    <h5>
      Dispute & Refund Policy
    </h5>
    <p class="fs-sm mb-1">
      <a href="{% url 'dispute_policy' %}">Learn More</a>
    </p>
    <hr>

    


    <h5>
      Security Policy
    </h5>
    <p class="fs-sm mb-1">
      <a href="{% url 'security_policy' %}">Learn More</a>
    </p>
    <hr>

    <h5>
      Payment Policy
    </h5>
    <p class="fs-sm mb-1">
      <a href="{% url 'payment_policy' %}">Learn More</a>
    </p>
    <hr>

  </div>
</div>
