<div class="card">
  <div class="card-body">
    <h4 class="fw-bold text-primary">Private Communication Channel</h4>
    <ul class="card-list list text-reset">
      <li class="list-item">
        <a class="list-link text-reset" href="{% url 'prof_candidate:msg_submit' %}">
          Contact Us
        </a>
      </li>
      <li class="list-item">
        <a class="list-link text-reset" href="{% url 'prof_candidate:msg_history' %}">
          My Message History
        </a>
      </li>
    </ul>
  </div>
</div>