<!-- <div class="card card-bleed border-bottom border-bottom-md-0 shadow-light-lg mb-6">
  <div class="collapse d-md-block" id="sidenavCollapse">
    <div class="card-body">
      <h6 class="fw-bold text-uppercase mb-3">
        Who can see my information
      </h6>
      <ul class="card-list list text-reset mb-6">
        <li class="list-item">
          People who can see you information are discussed in Disclosure to Information of Third Parties.
          <a href="{% url 'mydocumentations:privacy_policy' %}" class="text-decoration-none text-muted fs-sm">
            learn more
          </a>
        </li>
      </ul>
    </div>
  </div>
</div> -->


<div class="accordion-item mb-6 card card-bleed border-bottom border-bottom-md-0 shadow-light-lg">
  <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#helpTwo" aria-expanded="false" aria-controls="helpTwo">
    <span class="me-4" id="helpTwoHeading">
      Who can see my information?
    </span>
  </div>
  <div class="accordion-collapse collapse" id="helpTwo" aria-labelledby="helpTwoHeading" data-bs-parent="#helpAccordionTwo">
    <div class="accordion-body">
      <p class="text-reset">
        People who can see you information are discussed in Disclosure to Information of Third Parties.
          <a href="{% url 'mydocumentations:privacy_policy' %}" class="text-decoration-none  fs-sm">
            learn more
          </a>
      </p>
    </div>
  </div>
</div>