{% extends 'general/layout/primary_layout.html' %}
{% load static %}

{% block meta %}
  <title>Home | Campus Connect</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
{% endblock %}



{% block body_contents %}

    <section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(/static/general/assets/images/bg_5.jpg);" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-6 py-5 px-md-5 bg-dark">
            <div class="py-md-5">
              <!-- form -->
              {% include 'general/components/forms/profile-eval.html' %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-services ftco-no-pb">
      <div class="container-wrap">
        <div class="row no-gutters">
          <!-- top services  -->
          {% include 'general/components/mock-inter.html' %}
        </div>
      </div>
    </section>
    

    <section class="ftco-section ftco-no-pt ftc-no-pb">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
            <div class="img" style="background-image: url(/static/general/assets/images/about.jpg); border"></div>
          </div>
          <div class="col-md-7 wrap-about py-5 pr-md-4">
            <h4 class="">What We Offer</h4>
            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
            <div class="row mt-5">
              <div class="col-lg-6">
                <div class="services-2 d-flex">
                  <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
                  <div class="text pl-3">
                    <h3>Safety First</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="services-2 d-flex">
                  <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
                  <div class="text pl-3">
                    <h3>Regular Classes</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="services-2 d-flex">
                  <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
                  <div class="text pl-3">
                    <h3>Certified Teachers</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="services-2 d-flex">
                  <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
                  <div class="text pl-3">
                    <h3>Sufficient Classrooms</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="services-2 d-flex">
                  <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
                  <div class="text pl-3">
                    <h3>Creative Lessons</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="services-2 d-flex">
                  <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
                  <div class="text pl-3">
                    <h3>Sports Facilities</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section bg-light">
      <div class="container">
        {% include 'general/pg-contents/products/pre-i20.html' %}
      </div>
    </section>


    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/static/general/assets/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
      <div class="container">
        {% include 'general/pg-contents/products/univcomm.html' %}
      </div>
    </section>


    <section class="ftco-section">
      <div class="container">
        {% include 'general/pg-contents/products/post-i20.html' %}
      </div>
    </section>


    <section class="ftco-section bg-info">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('/static/general/assets/images/image_1.jpg');">
                <div class="meta-date text-center p-2">
                  <span class="day">26</span>
                  <span class="mos">June</span>
                  <span class="yr">2019</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('/static/general/assets/images/image_1.jpg');">
                <div class="meta-date text-center p-2">
                  <span class="day">26</span>
                  <span class="mos">June</span>
                  <span class="yr">2019</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="blog-entry">
              <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('/static/general/assets/images/image_1.jpg');">
                <div class="meta-date text-center p-2">
                  <span class="day">26</span>
                  <span class="mos">June</span>
                  <span class="yr">2019</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container-fluid px-4">
        {% include 'general/pg-contents/products/visaassist.html' %}
      </div>
    </section>


    <section class="ftco-section bg-dark">
      <div class="container-fluid px-4">
        {% include 'general/pg-contents/products/strategy.html' %}
      </div>
    </section>


    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/static/general/assets/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
      <div class="container">
        {% include 'general/pg-contents/products/adhoc.html' %}
      </div>
    </section>


    {% include "general/components/menus/footer/footer-3-white.html" %}

{% endblock %}
