<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
	<tr>
		<td class="bg_light">
			<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td class="bg_light email-section">
					<div class="heading-section" style="text-align: left; padding: 25px 5px 25px 5px;">
					<h3 class="heading">Delivery Method</h3>
					<p>Delivery email {{delivery_email_address}}</p>
					</div>
				</td>
			</tr>
			</table>
		</td>
		</tr>
</table>