<p style="line-height: 140%;"><span data-metadata="&lt;!--(figmeta)eyJmaWxlS2V5IjoiWUswYUxXejkwdm5ST2ZlclZiTDl4RiIsInBhc3RlSUQiOjE3NTA2ODE1MzksImRhdGFUeXBlIjoic2NlbmUifQo=(/figmeta)--&gt;" style="line-height: 19.6px;"></span><span style="line-height: 19.6px;">Hello Guest</span></p>
<p style="line-height: 140%;"> </p>
<p style="line-height: 140%;"><span style="line-height: 19.6px;">Thank you for your interest with Resumenalyzer.</span></p>
<p style="line-height: 140%;"> </p>
<p style="line-height: 140%;"><span style="line-height: 19.6px;">
Our system detects that you have made a purchase with us. 
Most likely your order is in the grace period right now for the next 24 hours. 
We allow our customer this time frame to offer them the option to cancel the order.
Once the grace period is over, our state-of-the-art system will start processing your order immediately.
You will be updated immediately as we make further progress of your order processing steps.
</span>
</p>
